{% extends 'base.html.twig' %}

{% block body %}
    <section class="container-fluid component__search">
        <div class="container d-flex justify-content-center pt-5">
            <form class="component__search--form">
                <input type="text" name="query" class="component__search--input" placeholder="Location">
                <input type="text" name="query" class="component__search--input" placeholder="Location">
                <input type="text" name="query" class="component__search--input" placeholder="Location">
                <input type="text" name="query" class="component__search--input" placeholder="Location">
            </form>
        </div>
    </section>
{% endblock %}